NR/flows2.json
[{"id":"db383334.1f1f2","type":"tab","label":"UI","disabled":false,"info":""},{"id":"6fd6c19b.83d98","type":"ui_dropdown","z":"db383334.1f1f2","name":"","label":"target","tooltip":"target","place":"Select option","group":"609058bf.348698","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"robot0","value":"0","type":"str"},{"label":"robot1","value":"1","type":"str"},{"label":"none","value":"-1","type":"str"}],"payload":"","topic":"","x":390,"y":140,"wires":[["92412c38.db6b2"]]},{"id":"5913a30.81dd45c","type":"ui_dropdown","z":"db383334.1f1f2","name":"","label":"Command","tooltip":"Command","place":"Select option","group":"609058bf.348698","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Position Report","value":10,"type":"num"},{"label":"Stop_All","value":80,"type":"num"}],"payload":"","topic":"","x":390,"y":200,"wires":[["96e71e72.6cb19"]]},{"id":"147bd097.f7c3ef","type":"ui_button","z":"db383334.1f1f2","name":"","group":"609058bf.348698","order":4,"width":0,"height":0,"passthru":false,"label":"Send Command","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":0,\"param1\":0},\"status\":0}","payloadType":"json","topic":"","x":740,"y":260,"wires":[["5f3581a7.ea0a3"]]},{"id":"92412c38.db6b2","type":"function","z":"db383334.1f1f2","name":"Set target","func":"flow.set(\"target\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":140,"wires":[[]]},{"id":"bf70429c.ddd9b","type":"template","z":"db383334.1f1f2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":580,"y":580,"wires":[[]]},{"id":"b8966a90.d86378","type":"debug","z":"db383334.1f1f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":240,"wires":[]},{"id":"96e71e72.6cb19","type":"function","z":"db383334.1f1f2","name":"Set cmd","func":"flow.set(\"cmd\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[[]]},{"id":"22814f33.d64a1","type":"function","z":"db383334.1f1f2","name":"Set param1","func":"flow.set(\"param1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[[]]},{"id":"66a755a6.1c165c","type":"function","z":"db383334.1f1f2","name":"Set param2","func":"flow.set(\"param2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[[]]},{"id":"bf53b073.f1fa2","type":"ui_text_input","z":"db383334.1f1f2","name":"","label":"param1","tooltip":"param1","group":"609058bf.348698","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":340,"y":260,"wires":[["22814f33.d64a1"]]},{"id":"5f3581a7.ea0a3","type":"function","z":"db383334.1f1f2","name":"","func":"msg.payload.target=Number(flow.get(\"target\"));\nmsg.payload.command.cmd=Number(flow.get(\"cmd\"));\nmsg.payload.command.param1=flow.get(\"param1\");\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":260,"wires":[["b8966a90.d86378","1e4b4fe6.c3a4c"]]},{"id":"ac92f1eb.e7b1e","type":"debug","z":"db383334.1f1f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"5e81e9c5.f3ba88","type":"function","z":"db383334.1f1f2","name":"","func":"msg.payload=flow.get(\"cmd\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[[]]},{"id":"62dfd77e.719c88","type":"debug","z":"db383334.1f1f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"8eea5b45.bbdf68","type":"ui_button","z":"db383334.1f1f2","name":"","group":"f1d9cd90.f29cd","order":1,"width":0,"height":0,"passthru":false,"label":"Face Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":0},\"status\":0}","payloadType":"json","topic":"","x":320,"y":420,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"c9e31c1a.eec33","type":"ui_button","z":"db383334.1f1f2","name":"","group":"f1d9cd90.f29cd","order":2,"width":0,"height":0,"passthru":false,"label":"Face Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":180},\"status\":0}","payloadType":"json","topic":"","x":330,"y":480,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"c8ace617.a9d398","type":"ui_button","z":"db383334.1f1f2","name":"","group":"f1d9cd90.f29cd","order":3,"width":0,"height":0,"passthru":false,"label":"Face Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":270},\"status\":0}","payloadType":"json","topic":"","x":320,"y":540,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"983a9333.5298c","type":"ui_button","z":"db383334.1f1f2","name":"","group":"f1d9cd90.f29cd","order":4,"width":0,"height":0,"passthru":false,"label":"Face Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":90},\"status\":0}","payloadType":"json","topic":"","x":330,"y":600,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"5dc7185c.c7f0a8","type":"ui_button","z":"db383334.1f1f2","name":"","group":"f1d9cd90.f29cd","order":5,"width":0,"height":0,"passthru":false,"label":"Move Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":1},\"status\":0}","payloadType":"json","topic":"","x":340,"y":660,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"157d2a31.866166","type":"ui_text_input","z":"db383334.1f1f2","name":"","label":"Node","tooltip":"","group":"5eaec501.55acec","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":370,"y":800,"wires":[["14ac882f.d30678"]]},{"id":"14ac882f.d30678","type":"function","z":"db383334.1f1f2","name":"","func":"flow.set(\"path_to_target\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":800,"wires":[[]]},{"id":"ec737591.dbc9b8","type":"ui_button","z":"db383334.1f1f2","name":"","group":"5eaec501.55acec","order":3,"width":0,"height":0,"passthru":false,"label":"Go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":7,\"param1\":3},\"status\":0}","payloadType":"json","topic":"","x":770,"y":700,"wires":[["49a43454.6d568c"]]},{"id":"49a43454.6d568c","type":"function","z":"db383334.1f1f2","name":"","func":"msg.payload.target=Number(flow.get(\"target_pathto\"));\nmsg.payload.command.param1=flow.get(\"path_to_target\");\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":700,"wires":[["1e4b4fe6.c3a4c"]]},{"id":"82f6f0b8.8b6ba","type":"ui_dropdown","z":"db383334.1f1f2","name":"","label":"target","tooltip":"target","place":"Select option","group":"5eaec501.55acec","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"robot0","value":"0","type":"str"},{"label":"robot1","value":"1","type":"str"},{"label":"robot2","value":"2","type":"str"},{"label":"robot3","value":"3","type":"str"}],"payload":"","topic":"","x":370,"y":760,"wires":[["72c7de3c.bb871"]]},{"id":"72c7de3c.bb871","type":"function","z":"db383334.1f1f2","name":"","func":"flow.set(\"target_pathto\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[[]]},{"id":"1e4b4fe6.c3a4c","type":"link out","z":"db383334.1f1f2","name":"Web Control","links":["62c33c2e.aff144"],"x":1000,"y":580,"wires":[]},{"id":"6935e994.ba1288","type":"tcp in","z":"db383334.1f1f2","name":"","server":"server","host":"","port":"6000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1240,"y":300,"wires":[["cc72a761.a12198","5c55037a.01b4fc"]]},{"id":"cc72a761.a12198","type":"debug","z":"db383334.1f1f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":300,"wires":[]},{"id":"5c55037a.01b4fc","type":"function","z":"db383334.1f1f2","name":"ToString","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":400,"wires":[["8d8df9ff.c57988","53e10070.c73b9"]]},{"id":"8d8df9ff.c57988","type":"json","z":"db383334.1f1f2","name":"","property":"payload","action":"","pretty":false,"x":1600,"y":360,"wires":[["2c29f9fc.b6ad66","2a5e0c51.c41dc4","aa97ad87.04743","2c9d3945.8726b6","d3302c22.05fb2","c6af5a05.df9a18"]]},{"id":"2c29f9fc.b6ad66","type":"ui_text","z":"db383334.1f1f2","group":"7dd604fe.1e1d1c","order":0,"width":0,"height":0,"name":"","label":"node","format":"{{msg.payload.robot0_node}}","layout":"col-center","x":1860,"y":360,"wires":[]},{"id":"53e10070.c73b9","type":"debug","z":"db383334.1f1f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":520,"wires":[]},{"id":"2a5e0c51.c41dc4","type":"ui_text","z":"db383334.1f1f2","group":"bd1a2c54.c0166","order":0,"width":0,"height":0,"name":"","label":"node","format":"{{msg.payload.robot1_node}}","layout":"col-center","x":1860,"y":400,"wires":[]},{"id":"aa97ad87.04743","type":"ui_text","z":"db383334.1f1f2","group":"24a50861.dc0e38","order":0,"width":0,"height":0,"name":"","label":"Blocked_Vertices","format":"{{msg.payload.blocked_vertices}}","layout":"col-center","x":1900,"y":440,"wires":[]},{"id":"2c9d3945.8726b6","type":"function","z":"db383334.1f1f2","name":"","func":"if(msg.payload.robot0_node==msg.payload.robot1_node) {\n    msg.payload=\"ÜTKÖZÉS\";\n    return msg;\n}\nelse {\n    msg.payload=\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1700,"y":480,"wires":[["4a3dcb0d.5ee624"]]},{"id":"4a3dcb0d.5ee624","type":"ui_text","z":"db383334.1f1f2","group":"24a50861.dc0e38","order":0,"width":0,"height":0,"name":"","label":"Warning","format":"{{msg.payload.blocked_vertices}}","layout":"col-center","x":1870,"y":480,"wires":[]},{"id":"d3302c22.05fb2","type":"ui_text","z":"db383334.1f1f2","group":"24a50861.dc0e38","order":0,"width":0,"height":0,"name":"","label":"Timespace","format":"{{msg.payload.timespace}}","layout":"col-center","x":1880,"y":520,"wires":[]},{"id":"c6af5a05.df9a18","type":"ui_text","z":"db383334.1f1f2","group":"24a50861.dc0e38","order":0,"width":0,"height":0,"name":"","label":"Parked_Nodes","format":"{{msg.payload.parked_nodes}}","layout":"col-center","x":1890,"y":560,"wires":[]},{"id":"609058bf.348698","type":"ui_group","z":"","name":"Any Command","tab":"bc51d0fa.1b294","disp":true,"width":"6","collapse":false},{"id":"f1d9cd90.f29cd","type":"ui_group","z":"","name":"Basic Move","tab":"bc51d0fa.1b294","order":2,"disp":true,"width":"6","collapse":false},{"id":"5eaec501.55acec","type":"ui_group","z":"","name":"Path To","tab":"bc51d0fa.1b294","order":3,"disp":true,"width":"6","collapse":false},{"id":"7dd604fe.1e1d1c","type":"ui_group","z":"","name":"Robot0","tab":"bc51d0fa.1b294","disp":true,"width":"6","collapse":false},{"id":"bd1a2c54.c0166","type":"ui_group","z":"","name":"Robot1","tab":"bc51d0fa.1b294","disp":true,"width":"6","collapse":false},{"id":"24a50861.dc0e38","type":"ui_group","z":"","name":"Graph","tab":"bc51d0fa.1b294","disp":true,"width":"6","collapse":false},{"id":"bc51d0fa.1b294","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]