NR/flows.json
[{"id":"7cebfb4a.1f5f54","type":"tab","label":"test_v2","disabled":false,"info":""},{"id":"f1bfad9c.f164c","type":"tcp in","z":"7cebfb4a.1f5f54","name":"","server":"server","host":"","port":"15000","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":160,"y":200,"wires":[["8c00907d.a97e8"]]},{"id":"8c00907d.a97e8","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["873a7bf5.83b758"]]},{"id":"873a7bf5.83b758","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":500,"y":220,"wires":[["e5ba93dd.10d33"]]},{"id":"8cfbab0f.f58ec8","type":"comment","z":"7cebfb4a.1f5f54","name":"TODO","info":"Itt lesz a célpontok szerinti szétválsztás\n2 egymást követő switch-el","x":410,"y":160,"wires":[]},{"id":"e5ba93dd.10d33","type":"function","z":"7cebfb4a.1f5f54","name":"FORMAT","func":"var command=\"C\";\nmsg.payload=command.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[[]]},{"id":"845b96e8.bd9eb8","type":"tcp request","z":"7cebfb4a.1f5f54","server":"127.0.0.1","port":"41000","out":"immed","splitc":" ","name":"","x":1260,"y":540,"wires":[[]]},{"id":"ff74a454.5d7ae8","type":"inject","z":"7cebfb4a.1f5f54","name":"command 98","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":98,\"param1\":3,\"param2\":3},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":480,"wires":[["7dddfaec.86a7c4"]]},{"id":"4eaf546b.b2079c","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":280,"wires":[]},{"id":"eae9deb6.7a03","type":"function","z":"7cebfb4a.1f5f54","name":"ToString","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":280,"wires":[["4eaf546b.b2079c","ef6b5cd3.f3b35","fedac8da.0f65b8"]]},{"id":"3f307f37.ae1f6","type":"function","z":"7cebfb4a.1f5f54","name":"ToString","func":"data=msg.payload;\ndata=data.toString();\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":620,"wires":[[]]},{"id":"d0a0239d.251c2","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":480,"wires":[]},{"id":"563ab34f.8a909c","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":930,"y":480,"wires":[["d0a0239d.251c2","845b96e8.bd9eb8"]]},{"id":"ef6b5cd3.f3b35","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":1670,"y":240,"wires":[["4a6fb1e7.31962"]]},{"id":"4a6fb1e7.31962","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":220,"wires":[]},{"id":"1a1cad7f.160903","type":"tcp request","z":"7cebfb4a.1f5f54","server":"","port":"41001","out":"char","splitc":"\\n","name":"","x":2360,"y":320,"wires":[["5349e5c8.cf345c"]]},{"id":"279858f0.af4038","type":"comment","z":"7cebfb4a.1f5f54","name":"object","info":"","x":1730,"y":200,"wires":[]},{"id":"191d884a.19a898","type":"comment","z":"7cebfb4a.1f5f54","name":"string","info":"","x":1690,"y":280,"wires":[]},{"id":"ae450921.d34878","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3056,"y":320,"wires":[]},{"id":"5349e5c8.cf345c","type":"function","z":"7cebfb4a.1f5f54","name":"ToString","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":2506,"y":320,"wires":[["1ab971b7.7dcc0e","bd4504ac.2ad428"]]},{"id":"95009e9.afe716","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":2896,"y":320,"wires":[["ae450921.d34878"]]},{"id":"cc086f2c.57539","type":"tcp in","z":"7cebfb4a.1f5f54","name":"","server":"server","host":"","port":"41002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":840,"y":160,"wires":[["b9c740b4.9eca7","57a5d556.86359c"]]},{"id":"a1da2ac9.6282f8","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":540,"wires":[]},{"id":"963c7ff8.45dd2","type":"function","z":"7cebfb4a.1f5f54","name":"ToString","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":540,"wires":[["a1da2ac9.6282f8","86856a35.fd5e48"]]},{"id":"9233594c.17fbe8","type":"tcp in","z":"7cebfb4a.1f5f54","name":"","server":"server","host":"","port":"41004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":260,"y":680,"wires":[["ae3a1f6c.a6b8"]]},{"id":"8a23331c.ce0bd","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":680,"wires":[]},{"id":"ae3a1f6c.a6b8","type":"function","z":"7cebfb4a.1f5f54","name":"ToString","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["8a23331c.ce0bd","42ec80ad.d6b0e"]]},{"id":"53ea06f0.928768","type":"inject","z":"7cebfb4a.1f5f54","name":"command 99","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":99,\"param1\":5},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":560,"wires":[["7dddfaec.86a7c4"]]},{"id":"fc7be976.56f278","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2875,"y":380,"wires":[]},{"id":"86fda47b.96d138","type":"split","z":"7cebfb4a.1f5f54","name":"","splt":"\\t","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":2755,"y":320,"wires":[["fc7be976.56f278","95009e9.afe716"]]},{"id":"1ab971b7.7dcc0e","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2616,"y":380,"wires":[]},{"id":"86856a35.fd5e48","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":600,"wires":[["fd2564c2.353d88","795160ec.3b348"]]},{"id":"fd2564c2.353d88","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":600,"wires":[]},{"id":"7dddfaec.86a7c4","type":"function","z":"7cebfb4a.1f5f54","name":"ID","func":"var next_id=context.get('id')||1;\nmsg.payload.id=next_id;\nnext_id+=1;\ncontext.set('id', next_id);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["563ab34f.8a909c","24256f5e.dfecd"]]},{"id":"24256f5e.dfecd","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":440,"wires":[]},{"id":"457cebc.5a98214","type":"comment","z":"7cebfb4a.1f5f54","name":"to bot","info":"","x":1730,"y":380,"wires":[]},{"id":"3f8b39a1.62f776","type":"tcp in","z":"7cebfb4a.1f5f54","name":"","server":"server","host":"","port":"41006","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":1290,"y":620,"wires":[["963c7ff8.45dd2"]]},{"id":"a59b0ae3.9596a8","type":"inject","z":"7cebfb4a.1f5f54","name":"command 97","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":97,\"param1\":3,\"param2\":3},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":400,"wires":[["7dddfaec.86a7c4"]]},{"id":"9cc35e0e.097d7","type":"comment","z":"7cebfb4a.1f5f54","name":"Cmd to server","info":"","x":1310,"y":500,"wires":[]},{"id":"1a10272.f0f31d9","type":"comment","z":"7cebfb4a.1f5f54","name":"report from server","info":"","x":1310,"y":680,"wires":[]},{"id":"47d72bb6.229bc4","type":"comment","z":"7cebfb4a.1f5f54","name":"Response from bot","info":"","x":270,"y":740,"wires":[]},{"id":"f10da76f.064d58","type":"comment","z":"7cebfb4a.1f5f54","name":"report to server","info":"","x":880,"y":720,"wires":[]},{"id":"2fbf9533.9ac5da","type":"comment","z":"7cebfb4a.1f5f54","name":"Cmd from server (by command_to_bot function)->sent to bot","info":"","x":940,"y":120,"wires":[]},{"id":"c7090d43.9c471","type":"inject","z":"7cebfb4a.1f5f54","name":"command 10","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":10},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":360,"wires":[["7dddfaec.86a7c4"]]},{"id":"b20c8878.5375b8","type":"inject","z":"7cebfb4a.1f5f54","name":"command 3","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":3},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":320,"wires":[["7dddfaec.86a7c4"]]},{"id":"642e2e7.8877fd","type":"inject","z":"7cebfb4a.1f5f54","name":"command 4","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":4},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":280,"wires":[["7dddfaec.86a7c4"]]},{"id":"eef39eb5.8c687","type":"inject","z":"7cebfb4a.1f5f54","name":"face_to LEFT","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":270},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":300,"wires":[["7dddfaec.86a7c4"]]},{"id":"bd4504ac.2ad428","type":"split","z":"7cebfb4a.1f5f54","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":2636,"y":320,"wires":[["86fda47b.96d138"]]},{"id":"f4150b4f.535c38","type":"inject","z":"7cebfb4a.1f5f54","name":"face_to RIGHT","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":90},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":360,"wires":[["7dddfaec.86a7c4"]]},{"id":"6df52249.dc1d4c","type":"inject","z":"7cebfb4a.1f5f54","name":"face_to UP","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":0},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":420,"wires":[["7dddfaec.86a7c4"]]},{"id":"2d1a8b6a.c8c274","type":"inject","z":"7cebfb4a.1f5f54","name":"face_to DOWN","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":8,\"param1\":180},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":480,"wires":[["7dddfaec.86a7c4"]]},{"id":"1f72883.2f4c878","type":"inject","z":"7cebfb4a.1f5f54","name":"move forward","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":1},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":540,"wires":[["7dddfaec.86a7c4"]]},{"id":"6b51f890.0d4828","type":"inject","z":"7cebfb4a.1f5f54","name":"goto 4","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":6,\"param1\":4},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":620,"wires":[["7dddfaec.86a7c4"]]},{"id":"bbcda7a3.1ab818","type":"inject","z":"7cebfb4a.1f5f54","name":"path_to 8","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":7,\"param1\":8},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":620,"wires":[["7dddfaec.86a7c4"]]},{"id":"5ed95f1d.2bf74","type":"inject","z":"7cebfb4a.1f5f54","name":"path_to 3","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":7,\"param1\":3},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":620,"wires":[["7dddfaec.86a7c4"]]},{"id":"2b13039c.e4006c","type":"inject","z":"7cebfb4a.1f5f54","name":"path_to 21","topic":"","payload":"{\"id\":1,\"target\":0,\"command\":{\"cmd\":7,\"param1\":21},\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":620,"wires":[["7dddfaec.86a7c4"]]},{"id":"62c33c2e.aff144","type":"link in","z":"7cebfb4a.1f5f54","name":"","links":["1e4b4fe6.c3a4c"],"x":780,"y":320,"wires":[["7dddfaec.86a7c4"]]},{"id":"84ff46a6.74f268","type":"comment","z":"7cebfb4a.1f5f54","name":"robot0","info":"","x":1530,"y":240,"wires":[]},{"id":"b9c740b4.9eca7","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":990,"y":160,"wires":[["b01605bc.ab6348","38a299a6.f1ccb6"]]},{"id":"1ccbe844.cb15d8","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":80,"wires":[]},{"id":"d9eea2f9.eac27","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":180,"wires":[["eae9deb6.7a03"]]},{"id":"b01605bc.ab6348","type":"function","z":"7cebfb4a.1f5f54","name":"Select IP","func":"msg.host=msg.payload.target_ip;\n//delete msg.payload.target_ip;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":160,"wires":[["d9eea2f9.eac27","1ccbe844.cb15d8"]]},{"id":"42ec80ad.d6b0e","type":"function","z":"7cebfb4a.1f5f54","name":"\\n","func":"var string=msg.payload + '\\n';\nmsg.payload=string;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["b1fb8be5.b52f28"]]},{"id":"af723349.e73dc","type":"tcp request","z":"7cebfb4a.1f5f54","server":"127.0.0.1","port":"41005","out":"sit","splitc":" ","name":"","x":840,"y":800,"wires":[[]]},{"id":"795160ec.3b348","type":"function","z":"7cebfb4a.1f5f54","name":"Randomized commands","func":"if (msg.payload.status==1 && msg.payload.command.cmd==7&&flow.get('randomize')){\nnew_command=msg.payload;\nnew_command.status=0;\nrandom_node=Math.floor((Math.random() * 41) + 1);\nnew_command.command.param1=random_node;\nreturn msg;\n}","outputs":1,"noerr":0,"x":1860,"y":720,"wires":[["eaaba20d.34fa2"]]},{"id":"6a507476.5d284c","type":"link in","z":"7cebfb4a.1f5f54","name":"","links":["eaaba20d.34fa2"],"x":815,"y":400,"wires":[["7dddfaec.86a7c4"]]},{"id":"eaaba20d.34fa2","type":"link out","z":"7cebfb4a.1f5f54","name":"","links":["6a507476.5d284c"],"x":2080,"y":720,"wires":[]},{"id":"6a7b110e.3905c","type":"ui_switch","z":"7cebfb4a.1f5f54","name":"","label":"Random New Moves","tooltip":"","group":"609058bf.348698","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1640,"y":800,"wires":[["18597f05.aef0f1"]]},{"id":"18597f05.aef0f1","type":"function","z":"7cebfb4a.1f5f54","name":"","func":"flow.set('randomize', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":820,"wires":[[]]},{"id":"38a299a6.f1ccb6","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":240,"wires":[]},{"id":"fedac8da.0f65b8","type":"delay","z":"7cebfb4a.1f5f54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":320,"wires":[["e11b989d.5d3f08"]]},{"id":"b1fb8be5.b52f28","type":"delay","z":"7cebfb4a.1f5f54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":800,"wires":[["af723349.e73dc"]]},{"id":"978a865b.8141f8","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2410,"y":560,"wires":[]},{"id":"1619816e.42887f","type":"function","z":"7cebfb4a.1f5f54","name":"Delete IP","func":"delete msg.payload.target_ip;\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":320,"wires":[["7249898b.2e2c98"]]},{"id":"e11b989d.5d3f08","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":1870,"y":320,"wires":[["1619816e.42887f"]]},{"id":"7249898b.2e2c98","type":"json","z":"7cebfb4a.1f5f54","name":"","property":"payload","action":"","pretty":false,"x":2150,"y":320,"wires":[["1a1cad7f.160903"]]},{"id":"76b2b2b.b7de34c","type":"catch","z":"7cebfb4a.1f5f54","name":"","scope":["1a1cad7f.160903"],"uncaught":false,"x":2170,"y":500,"wires":[["dbaee7a9.369ed8","978a865b.8141f8","d386c9fc.8bd578","f316bb90.487bc8","97d59062.2941f"]]},{"id":"dbaee7a9.369ed8","type":"function","z":"7cebfb4a.1f5f54","name":"Connect Failed Handling","func":"/*\ntext=msg.error.message;\nif (text.indexOf(\"connect failed\")!=-1){\n\tvar start=text.indexOf(\"d\");\n    var end=text.indexOf(\":\");\n    var new_text=text.slice(start+2, end);\n}*/\n//maybe we need this\nif (msg.error.message.indexOf(\"connect failed\")!=-1){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2390,"y":500,"wires":[["4eb5e54b.626a7c","95fe1a42.7f4ae8"]]},{"id":"4eb5e54b.626a7c","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2710,"y":460,"wires":[]},{"id":"d386c9fc.8bd578","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":2400,"y":620,"wires":[]},{"id":"57a5d556.86359c","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":280,"wires":[]},{"id":"f316bb90.487bc8","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"host","targetType":"msg","x":2400,"y":720,"wires":[]},{"id":"19adfc6c.aafb44","type":"catch","z":"7cebfb4a.1f5f54","name":"","scope":["af723349.e73dc"],"uncaught":false,"x":310,"y":940,"wires":[["d52567a3.be43c8","88de4119.4d385"]]},{"id":"d52567a3.be43c8","type":"function","z":"7cebfb4a.1f5f54","name":"Connect Failed Handling","func":"/*\ntext=msg.error.message;\nif (text.indexOf(\"connect failed\")!=-1){\n\tvar start=text.indexOf(\"d\");\n    var end=text.indexOf(\":\");\n    var new_text=text.slice(start+2, end);\n}*/\n//maybe we need this\nif (msg.error.message.indexOf(\"connect failed\")!=-1){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["5a371f2e.258e","5d436648.d44e48"]]},{"id":"5a371f2e.258e","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":960,"wires":[]},{"id":"97d59062.2941f","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_error","targetType":"msg","x":2410,"y":660,"wires":[]},{"id":"ea4a5b96.9b4678","type":"delay","z":"7cebfb4a.1f5f54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2280,"y":380,"wires":[["1a1cad7f.160903"]]},{"id":"88de4119.4d385","type":"debug","z":"7cebfb4a.1f5f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":480,"y":1060,"wires":[]},{"id":"5d436648.d44e48","type":"delay","z":"7cebfb4a.1f5f54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":900,"wires":[["b1fb8be5.b52f28"]]},{"id":"95fe1a42.7f4ae8","type":"delay","z":"7cebfb4a.1f5f54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2450,"y":440,"wires":[["ea4a5b96.9b4678"]]},{"id":"609058bf.348698","type":"ui_group","z":"","name":"Any Command","tab":"bc51d0fa.1b294","disp":true,"width":"6","collapse":false},{"id":"bc51d0fa.1b294","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]